<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">

    <title>Document</title>
</head>
<body>
    <h2>I am the ABout Page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed architecto earum quas accusantium repudiandae molestiae quos aliquam id sapiente libero sequi, incidunt iste quae, asperiores fugit dolores vero doloremque excepturi?</p>

    <script src="./app.js"></script>
</body>
</html>